.header{
	
	margin-top:-25px;
	background: url(../img/header-background.jpg) no-repeat top center;
	-webkit-background-size:cover;
		-moz-background-size:cover;
		background-size:cover;
	height: 700px;
	position: relative
		
	
}

.Head2{

color:#fff;

padding-top:100px;

margin-right:5px;
padding-bottom:20px;

}
.HeadP1{
    color:#fff;
    padding-bottom:15px;
    
   
}
/*HEADER */
.logo{
	color:#fff;
	font-size:26px;
	/* line-height:60px; */
	letter-spacing: 5px;
	margin-left:80px;
}

.navbar-nav{
	margin-left:50px;
}
.nav>li>a {
	color: #efeeee;
	margin-left:40px;
	font-size:12px;
}
.media-header i{
	color:#fff;
	margin-left:50px;

	
}

.navbar-default .media-header{
	margin-left:800px;
	padding-left:180px;
	padding-top:15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    
    border-color: #648cfe;
    background-color: #648cfe;
}
.navbar-header {
    background-color: #648cfe;
}

.navbar-default .navbar-nav>li>a {
 	color: #efeeee;
	margin-left:60px;
	font-size:12px;   
}

.btn-download{
    background-color: #fff;
    border-color: #fff;
    color: #004f84;
    font-weight: bold;
    height: 50px;
    padding:10px;
    margin-right:15px;
    border-radius:8%;
    width:130px;
}
.btn-Features{
    background-color: #004f84;
    border-color:#004f84;
    color:white;
    font-weight: bold;
    height: 50px;
    padding:10px;
     border-radius:8%;
    width:120px;
}
/*End smart-phone*/
.smart-phon{
    display: float;
    float: right;
    margin-top:-150px;

}

/*End smart-phone*/
/*End header */
/*start second part*/


/*End second part*/
/*Start  Fea
uterHead*/
.FeauterHeadP{
    color:#00a9de;
    padding-top:50px;
     font-size:20px;
     text-align:right;
}
.FeauterHeadP-Blue{
	color:black;
    font-size:30px;
    
}
.FeauterHeadSpan{
	padding-left:75%;
}
/*End  FeauterHead*/
/*Start FeauterPart*/
.feauterPart{

padding-top:100px;
}
.feauterPart img{
    display: float;
    float: left;
    padding-top:22px;
}



.textpart{
	padding-left:120px;

}


@media(max-width:767px){
 
    .FeauterHeadP{
    	text-align:center !important;
    }
    .FeauterHeadSpan{
        padding-left:50% !important;  
    }
    .feauterPart img ,.textpart{
       
      
       padding-top:10px;
    padding-bottom:15px;
    }
}
/*End  FeauterPart*/
/* start phoneSlider */
.phoneSlider h2{
padding-top: 200px;
font-color :#00a9de;
}

.phoneSliderSpan{
    padding-bottom: 50px;
}
.cards img{
    width: auto;
    height: 460px;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
    padding-left: 15px;
}
.cards img{
	padding-left:20%;
}
/* End phoneSlider */
/* Start newFeatures*/
.newFeatures_background{
   margin-top: 150px;
    background: url(../img/curved-blue.jpg) no-repeat top center;
    height: 400px; 
}
 .NewFeatures img{
    margin-top: -39%;
    margin-left:-20px;
    width:auto;
    height: 500px;
 }
 .New{
	
color: #fff;
	
background-color:yellow;
	
height: 100px;
	
width: 100px;
	
line-height: 68px;
	
border: 10px solid yellow;
	
margin-left: 190px;
	
border-radius: 50%;
	
font-size:16px;
	
}
    .Free{
	
        color: #fff;
        background-color:#00a9de;
            
        width: 200px;
            
        height: 200px;
            
        line-height: 68px;
        border: 10px solid #00a9de;
            margin-left:-40px;
    
    
        border-radius: 50%;
        font-size:16px;
       
        }
        .free1{
        	margin-top:200px;
        }
        .new1{
            margin-top:-440px;
        }
     .media{
     	margin-left:-20px;
        padding-left:50px;
    }
    .media i{
        color: #ccc;
        background-color:#fff;
        width: 70px;
        height: 70px;
        margin-right:10px;
        margin-left:-25px;
        line-height: 68px;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size:22px;
        box-shadow: 0px -1px 3px #d4c9c9;
    }
    .media .fa-instagram:before{

       padding-left:25px;
    }
      .media .fa-facebook:before{

       padding-left:25px;
    }
     .media .fa-twitter:before{

       padding-left:25px;
    }
    
    
    
   .text-SECTION h2{

color: #00a9de;

padding-bottom: 15px;

}
      .text-newFeatures p{
      	font-size:16px;
      	font-weight:bold;
      	padding-bottom:20px;
      }
   .text-SECTION{
   	margin:50px;
   }
   /* Start RealTime */
   .RealTime{

    margin-top: 200px;
   }
   .RealTime img{
    width:auto;
    height: 600px;  
   }

   /* End RealTime */
   /*Start powerful */
.powerful{
    margin-top: 200px;
}
 .powerful img{
    width:auto;
    height: 600px;  
   }
   .DATA{
   	background-color:#78dcfa;
   	   border: 10px solid#78dcfa;
   	   margin-left:250px;
   }

   .VER{
   	
 	background-color:#00a9de;
   	   border: 10px solid #00a9de;
   }

/*End powerful */
/* Start What saying-*/
.Whatsaying  h2{

   padding-top: 200px;
 color :#00a9de;
        
}
.sectionleft {
	margin:90px;



}
.sectionleft p{
	text-align:left;
}

.fa-quote-left:before{
	color:#00a9de;

}
.fa-quote-right:before{
    
color:#00a9de;
    
padding-right:150px,
text-align:right;
}
.icon1{
	margin-left:-340px;
padding-bottom:15px;
}
.icon2{
	margin-left:290px;
}
.sectionleft  span{
	margin-left:-60px;
	font-size:12px;
	margin-top:50px;

}
.text5 span{
	margin-left:-330px;
	color:#868383;
}



/* END What saying-*/

/*Start How to Download */
.download {
    background: url(../img/footer-background.jpg) no-repeat top center;
height:600px;
}
.downloadSection{
	text-align:left;
	padding-top:200px;
	margin:50px;
	color:#fff;
}
.downloadSection h3{
	font-size:24px;
	padding-bottom:15px;
}
.downloadSection p{
	margin-right:200px;
	margin-bottom:30px;

}
/*End How to Download */
 /*start footer */

 .footer {
    background-color: #2f3149;
    height: 200px;
    margin-top:-28px;
}
.footer-contant{
    padding-top:30px;
}
.footer-contant .media-header{
   padding-top:15px;
}
  
hr{
    width:50%;
margin-top:35px;
border-color:#9a9a9a;
}
.footer-end {
    color:#9a9a9a;
}

.nav>li>a {
     color:#9a9a9a;
}
/*end footer */
/*start media section*/

@media(max-width:1000px){
    .smart-phon img{
        height: 500px !important;
   margin-top:200px;
    }
.head-info h2 {
	font-size:22px;
	margin:10px;
}
.head-info p{
	font-size:14px;
}
 .FeauterHeadP{
    	text-align:center !important;
    }
    .FeauterHeadSpan{
        
    }
    .textpart{
	padding-right:9px;
	padding-top:15px;

}
.NewFeatures img {
    margin-top: -25%;
    height: 500px;
}
   
   .New {
  
    margin-left: 190px;
    
}
 .DATA{
   
   	   margin-left:250px;
   }
.text-SECTION{
	padding-top:50px;
}
.RealTime {
     margin-top:-80px; 
}
.navbar-nav{
	display:none ;
}
hr{
	width:50%;
}
    }

    @media(max-width:767px){
 .NewFeatures img ,  .powerful img {
 	padding-left:25%;
 	height:500px;
 }
    .New {
  
margin-left: 350px;
}
.free1{
	margin-left:25%
}
.RealTime img{
	height:500px;
	padding-left:25%;
}
 .DATA{
   
   	   margin-left:380px;
   }
.cards img{
	padding-left: 35%;
}
.downloadSection{
	text-align:left;
	padding-top:200px;
	margin:5px;
	
}
.downloadSection h3{
	font-size: 20px;

}
.downloadSection p{
	margin-right:300px;
	
	font-size: 12px;

}
   
}  
    /*End media section */
     @media(max-width:481px){
     	.New {
    margin-left: 300px;
}
.cards img{
	padding-left:29%;
}
}
